
/* GENERAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

@media screen and (max-width: 480px) {

    /* HEADER */

header{
    background-color: rgb(0,132,253);
    height: 80px;
    width: 100%;
}

.header-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

#logo{
    height: 100%;
    width: 100px;
    background-color: green;
}

#header-menu{
    list-style-type: none;
}

#header-menu li{
    background-color: red;
    height: 100%;
    width: 40px;
}

#header-menu li:first-child{
    background-color: blue;
}

.general{
    display: none;
}

    /* MAIN */

    /* SECTION INFO */

.container{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.container .card:first-child{
    height: 600px;
}

.card{
    background-color: rgb(181,221,255);
    height: 300px;
    border-radius: 20px;
    margin: 20px 0;
}

#additional-info{
    background-color: rgb(151,146,227);
    height: 500px;
    width: 100%;
}

#additional-info .container{
    height: 100%;
}

.container article{
    height: calc(100% / 2);
    background-color: green;
    margin: 10px 0;
}








}



